<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (gte IE 9)| IEMobile |!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>{{title}}{{^title}}Dashee{{/title}}</title>
        <meta name="description" content="{{description}}{{^description}}A Dashboard framework for Node.js{{/description}}">
        <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">

		<link rel="shortcut icon" href="/favicon.ico">
        <meta http-equiv="cleartype" content="on">
        
        <link href='http://fonts.googleapis.com/css?family=Comfortaa:400,700,300|Faster+One' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{{assetPath '/assets/theme/css/site.css'}}}">
        
        <!-- Include the block styles -->
        {{{dasheeBlockStyles}}}
    </head>
    <body>
		{{{body}}}
		
		<!-- Include the dashee js files which will load the dashee libraries -->
		{{{dasheeJS}}}
        <!-- Include the dashee block scripts which will define their behavior -->
        {{{dasheeBlockScripts}}}
        <!-- Include script that will load the dashee application -->
        <script>
            +(function (require, undefined) {
                "use strict";

                console.log("Theme loaded");

                if (!require) {
                    // Happens when testing
                    return;
                }

                require(['dashee'], function (DasheeApp) {
                    var app = new DasheeApp();

                    app.load();
                });
            }(window.require));
        </script>
    </body>
</html>